<!DOCTYPE html>
<html>
<head>
    <title>  </title>
    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
<div class="main-content">
{{>header}}
<br>
<p>This website is created by Sahran Khuwaja. It uses mapbox and darksky APIs.</p>
<img src="/img/my.png" width="400px" height="300px">
</div>
{{>footer}}
</body>



</html>